
/* Your CSS Code here. */
.moviePic{
	height: 300px;
	width: 300px;
	opacity: 0.5;
}
.movieDetail{
	width: 60%;
	position: absolute;
	left: 100px;
	top: 150px;
	text-align: center;
	font-size: 1em;
}